
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  margin-bottom: 10px;
}

.zbuss {
  margin-right: auto;
}

.zbuss,
.home-icon,
.collection {
  font-family: 'Roboto', sans-serif;
  color: white;
}

.daily-deals > div > h5 {
  font-family: 'Roboto', sans-serif;
}

.footer,
.form-d,
.nav-link-container,
.nav-2,
.nav-cont,
.form,
.navbar-big,
.home,
.signup,
.logo {
  display: flex;
  font-family: 'Roboto', sans-serif;
}

.home,
.nav-link-container {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px;
}

.navbar-big,
.nav-link-container {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  flex-direction: column;
}

.navbar-big {
  z-index: 1;
  background-color: #383838;
}

.inner-div a {
  color: #000;
  font-size: 1.2rem;
}

.inner-div {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  margin: 30px 10px;
  padding: 10px;
  box-shadow: 0 0 1px #383838;
  border-radius: 5px;
  background-color: white;
}

.inner-div img,
.phone-div > div > img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
  cursor: pointer;
  display: block;
  margin: 8px auto;
}

.plus {
  float: right;
  border: 2px solid lightgrey;
  padding: 0 4px;
  margin-left: auto;
}

.home,
.nav-2,
.category {
  justify-content: space-around;
  align-items: center;
  flex: 1;
}

.child-img,
.child-signup {
  margin-right: 10px;
}

.logo,
.nav-link-container,
.form-d {
  justify-content: center;
  align-items: center;
}

.nav-link-container {
  flex-direction: column;
  background-color: #d35266;
  padding-bottom: 30px;
  color: #fff;
  font-weight: 800;
}

.h2-search {
  justify-self: start;
}

.child-signup,
.child-deal,
.child-img {
  margin-left: 8px;
}

.child-img,
.logo-img {
  cursor: pointer;
}

.child-deal,
.child-signup,
.logo h4 {
  text-decoration: none;
}

.child-signup {
  display: inline-block;
  padding: 2px 3px;
  border: 1px solid gray;
  background-color: #f6e05e;
  font-weight: bold;
  color: #000;
  border-radius: 3px;
}

.dropdown-b button,
.form-d input[type=text] {
  padding: 5px 0 5px 5px;
  outline: none;
}

.form-d input[type=submit] {
  padding: 5px 10px;
  font-size: 16px;
}

.footer-anchor {
  display: inline-block;
  font-size: 19px;
  border-right: 1px solid black;
  padding: 5px;
  margin-bottom: 20px;
}

.child-deal,
.child-signup,
.logo h4,
.footer-anchor,
.footer p {
  color: #fff;
}

.footer {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #383838;
  padding: 20px;
}

label { color: #000; }

.cell-phone {
  background-color: #81e6d9;
  color: #234e52;
}

.games,
.tv-div,
.laptop {
  box-shadow: 0 0 1px #383838;
  padding: 15px;
  margin-bottom: 10px;
}

.phone a,
.games a,
.tv-div a,
.laptop a {
  color: #000;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
}

.zbuss:hover,
.home-icon:hover,
.collection:hover,
.child-deal:hover {
  color: #d35266;
}

/* tab/desktop */
@media screen and (min-width: 768px) {
  .inner-div img {
    cursor: pointer;
    margin: auto;
    max-width: 100%;
  }

  .navbar-big {
    position: absolute;
    top: 0;
    z-index: 1;
  }

  .nav-link-container {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
  }

  .deals {
    font-size: 3rem;
  }

  .dropdown-b button,
  .form-d input[type=text] {
    padding: 10px 0 10px 10px;
    outline: none;
  }

  .form-d input[type=submit] {
    padding: 8px 5px;
    font-size: 18px;
  }
}

/* mobile */
@media screen and (max-width: 767px) {
  .form-d {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  .phone,
  .game,
  .daily-deals {
    flex-wrap: wrap;
  }
}
