
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
}

.nav-cont {
  position: fixed;
  top: 0;
  padding: 10px 0;
  background-color: #4a5568;
}

.zbuss,
.home-icon,
.collection {
  color: white;
}

.nav-2,
.form,
.navbar-big,
.home,
.signup,
.logo {
  display: flex;
  font-family: 'Roboto', sans-serif;
}

.navbar-big {
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.inner-div a {
  color: #000;
  font-size: 1.2rem;
}

.inner-div {
  max-width: 100%;
  height: auto;
  margin: 30px 0;
  padding: 10px;
  box-shadow: 0 0 5px #edf2f7;
  border-radius: 5px;
  background-color: white;
}

.inner-div img {
  max-width: 100%;
  object-fit: cover;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.nav-2 {
  justify-content: space-around;
  align-items: center;
}

.logo {
  justify-content: center;
  align-items: center;
}

.home {
  justify-content: space-around;
  align-items: center;
}

.child-signup,
.child-deal,
.child-img {
  margin-left: 8px;
}

.child-img,
.logo-img {
  cursor: pointer;
}

.child-deal,
.child-signup,
.logo h4 {
  text-decoration: none;
  color: white;
}

.child-signup {
  display: inline-block;
  padding: 2px 3px;
  border: 1px solid gray;
  background-color: #f6e05e;
  font-weight: bold;
  color: #000;
  border-radius: 3px;
}

.form input[type=text] {
  padding-left: 4px;
}

.footer-anchor {
  color: black;
  font-size: 19px;
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .nav-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* tab/desktop */
@media screen and (min-width: 768px) {
  .inner-div img {
    cursor: pointer;
    float: left;
    margin-right: 8px;
  }
}
